<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="CrudContext"
         connectionString="Server=fbd54f06-b263-4cf8-98ee-a7a8004638f3.sqlserver.sequelizer.com;Database=dbfbd54f06b2634cf898eea7a8004638f3;User ID=amtjycguubuwfrqj;Password=Ha7YrefoS4NWqgAfhxtHU3JVoReb5nemjBdCUka4xFMcyzEPKSUWvdKPykKGaerE;" />
  </connectionStrings>
</configuration>